<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047447183610-uku9ukpiimrq6isgmegck459f1nsnp6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047447183610-uku9ukpiimrq6isgmegck459f1nsnp6b</string>
	<key>API_KEY</key>
	<string>AIzaSyDO36wGo9ZCf3nLKOKefk-w846g9b9lHl4</string>
	<key>GCM_SENDER_ID</key>
	<string>1047447183610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kedarabhyankar.Zealous</string>
	<key>PROJECT_ID</key>
	<string>zealous-30101</string>
	<key>STORAGE_BUCKET</key>
	<string>zealous-30101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047447183610:ios:379ce28ee2c27a3d5c6943</string>
	<key>DATABASE_URL</key>
	<string>https://zealous-30101.firebaseio.com</string>
</dict>
</plist>